*{
    margin: 0px;
    padding: 0px;
    width: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background: url(icons_and_images/love_rosie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position-y: -50vh;
    background-position-x: center;
}

.quest{
    margin-top: 10vh;
    margin-left: 15vh;
    margin-right: 15vh;
    font-size: larger;
    padding: 10px;
    border-radius: 5cm;
    background-color: rgb(150, 7, 7);
    box-shadow: 0 4px 8px rgb(0, 0, 0, .57);
}

.button_box{
    display: grid;
    grid-template-columns: 50% 1fr;
}

.button1, .button2{
    margin-top: 65vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 15px;
    border-radius: 5cm;
    background-color: rgb(150, 7, 7);
    box-shadow: 0 4px 8px rgb(0, 0, 0, .93);
    position: relative;
    overflow: hidden;
}

.button1::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 0px;
    height: 0px;
    border-radius: 10cm;
    left: var(--xPosition);
    top: var(--yPosition);
    transform: translate(-50%, -50%);
    transition: width .7s, height .5s;
}

.button1:hover::before{
    height: 500%;
    width: 500%;
}

.button_text{
    position: relative;
    z-index: 1;
}

@media (max-width: 620px) {
    body{
        background-position-y: unset;
        background-size: cover;
        object-fit: cover;
    }

    .quest{
        margin-top: 10vh;
        margin-left: 10vh;
        margin-right: 10vh;
        font-size: 15px;
    }

    .button_box{
        grid-template-columns: 115px 1fr;
    }

    .button1, .button2{
        margin-top: 65vh;
        margin-bottom: 20vh;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        padding: 5px;
    }    
}
